<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no">
  <meta name="description" content="Memorize janpanese words.">
  <meta name="keywords" content="Japanese, Word, Memorize, Learn">
  <meta name="author" content="Yi Ji">
  <meta name="csrf-token" content={{ token }}>
  <title>日本語</title>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  -->
<link rel="stylesheet" href="css/main.css">  
<link rel="stylesheet" href="css/style.css">
  <!--[if IE]>
  <script src="../../../assets/ie.js"></script>
  <![endif]-->
</head>
<body>
  <div id="wordapp">
  </div>
<script data-main="js/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js"></script>
</body>
</html>
