<div class="row login-row">
     <div class="input-group input-group-lg center-block no-float col-xs-7 col-sm-7 col-md-5 col-lg-5">
      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" id="username-input">
    </div>
    <br>
    <br>
    <br>
    <div class="input-group input-group-lg center-block no-float col-xs-7 col-sm-7 col-md-5 col-lg-5">
     <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2" id="password-input">
    </div>
    <br>
    <br>
    <br>
    <div class="center-block no-float col-xs-7 col-sm-7 col-md-5 col-lg-5">
      <p id="login-info"></p>
    </div>
    <div class="text-center">
       <div class="btn-group">
          <a type="submit" href="#" class="btn btn-success my-button" id="login-button">Login</a>
          <a type="submit" href="#" class="btn btn-default my-button" id="register-button">Register</a>
       </div>
    </div>
</div>
