<header id="header" class="navbar navbar-default" id="top">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-header-collapse" aria-expanded="true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">日本語</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse navbar-right" id="navbar-header-collapse" aria-expanded="true">
          <ul class="nav navbar-nav">
            <li><a data-toggle="modal" data-target="#about-modal">About</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</header>
<div id="main">
</div>
<footer id="footer">
</footer>

<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">About</h3>
      </div>
      <div class="modal-body">
        <h4>How to use: </h4>
        <h5 class="mytext">If you can recall this word -> slide to right, it will appear next time;</h5>
        <h5 class="mytext">If you forget this word -> click the text to show meaning and pronounciation;</h5>
        <h5 class="mytext">If you think you already got this word -> slide to left and it won't appear forever.</h5>
        <h5 class="mytext">More transparent color stands for more times you have learned.</h5>
        <br>
        <h4>Author: </h4>
        <h5 class="mytext">Yi Ji @ Peking University</h5>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
